.header {
    padding: 2rem 0;
    background: black;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #999999;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;
    transition: 0.3s all;
    padding: 12px 16px;
    border-radius: 12px;
}

.nav-item:hover {
    background: rgba(255,255,255,.1);
    color: white;   
}

.active-nav-item {
    color: white;
}